<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <title>Flask advanced template</title>
    <link rel="shortcut icon" href=/static/favicon.ico>
    <link href=https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css rel=stylesheet>
</head>

<body>
    <div id=app>
      <h1>Flask advanced template</h1>
      <br>
      <p><a href="/admin">admin dashboard</a></p>
      <p><a href="/login">login</a></p>
      <p><a href="/logout">logout</a></p>
    </div>

</body>

</html>
